In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [11]:
df_fin = pd.read_csv('mlfi.csv', index_col=0)
df_fin['date'] = pd.to_datetime(df_fin['date'])

In [12]:
df_fin.head()

,stock_id,date,Advt_12M_Usd,Advt_3M_Usd,Advt_6M_Usd,Asset_Turnover,Bb_Yld,Bv,Capex_Ps_Cf,Capex_Sales,...,Total_Capital,Total_Debt,Total_Debt_Capital,Total_Liabilities_Total_Assets,Vol1Y_Usd,Vol3Y_Usd,R1M_Usd,R3M_Usd,R6M_Usd,R12M_Usd
1,13,2006-12-31,0.25,0.33,0.27,0.22,0.33,0.01,0.13,0.84,...,0.02,0.27,1.0,0.92,0.84,0.88,0.089,0.104,0.344,-0.041
2,13,2007-01-31,0.25,0.32,0.28,0.22,0.40,0.01,0.13,0.84,...,0.02,0.27,1.0,0.92,0.84,0.88,0.039,0.091,-0.011,-0.253
3,13,2007-02-28,0.26,0.30,0.30,0.22,0.15,0.01,0.13,0.84,...,0.02,0.27,1.0,0.92,0.87,0.88,-0.012,0.101,0.118,-0.366
4,17,2015-03-31,0.73,0.64,0.70,0.40,0.47,0.01,0.70,0.74,...,0.40,0.75,1.0,1.00,1.00,0.99,0.174,-0.144,-0.518,-0.376
5,17,2015-04-30,0.72,0.62,0.66,0.40,0.46,0.01,0.70,0.74,...,0.40,0.75,1.0,1.00,1.00,0.99,-0.106,-0.576,-0.535,-0.113

In [7]:
df_fin.shape

(283380, 99)

In [6]:
df_fin.describe()

,stock_id,Advt_12M_Usd,Advt_3M_Usd,Advt_6M_Usd,Asset_Turnover,Bb_Yld,Bv,Capex_Ps_Cf,Capex_Sales,Cash_Div_Cf,...,Total_Capital,Total_Debt,Total_Debt_Capital,Total_Liabilities_Total_Assets,Vol1Y_Usd,Vol3Y_Usd,R1M_Usd,R3M_Usd,R6M_Usd,R12M_Usd
count,283380.000000,283380.000000,283380.000000,283380.000000,283380.000000,283380.000000,283380.000000,283380.000000,283380.000000,283380.000000,...,283380.000000,283380.000000,283380.000000,283380.000000,283380.000000,283380.000000,283380.000000,283380.000000,283380.000000,283380.000000
mean,605.143285,0.500312,0.500528,0.500402,0.502258,0.504533,0.501348,0.496572,0.499456,0.496544,...,0.501144,0.501177,0.499720,0.501921,0.500219,0.500356,0.012633,0.036206,0.071358,0.135854
std,350.260600,0.287845,0.287816,0.287841,0.287403,0.288816,0.288121,0.283728,0.285317,0.281583,...,0.288177,0.288317,0.286299,0.288845,0.287317,0.287291,0.177877,0.331932,0.531054,0.765346
min,1.000000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,...,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,-0.922000,-0.929000,-0.980000,-0.991000
25%,302.000000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.260000,...,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,-0.044000,-0.066000,-0.083000,-0.098000
50%,605.000000,0.500000,0.500000,0.500000,0.500000,0.505000,0.500000,0.500000,0.500000,0.500000,...,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.011000,0.027000,0.045000,0.073000
75%,909.000000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.740000,0.740000,0.730000,...,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.064000,0.122000,0.183000,0.281000
max,1212.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,30.176000,39.389000,106.929000,95.972000

In [18]:
df_fin['stock_id'].unique().shape, df_fin['date'].min(), df_fin['date'].max()

((1207,), Timestamp('1998-11-30 00:00:00'), Timestamp('2019-03-31 00:00:00'))

#### Считаем сколько данных о каждой компании в каждом году. 
#### Для каждой компании найдём максимальну и минимальную даты, и оценим, есть ли разрыввы во времени для этих дат.

In [ ]:
uniq_stocks = df_fin['stock_id'].unique()
stock_dates = {}

for _id in uniq_stocks:
    date_min = df_fin[df_fin['stock_id'] == _id]['date'].min()
    date_max = df_fin[df_fin['stock_id'] == _id]['date'].max()